<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/common-head %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="js/splash.js"></script>
</head>

<body>

</body>

</html>